<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">BookShelf</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">首頁
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list">總覽</a>
      </li>
      <li ngbDropdown class="d-flex">
        <button class="btn btn-link border-0 py-0 align-self-center" id="dropdownBasic1" ngbDropdownToggle>分類</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" routerLink="/list" [queryParams]="{category:'漫畫'}">漫畫</button>
          <button class="dropdown-item" routerLink="/list" [queryParams]="{category:'輕小說'}">輕小說</button>
          <button class="dropdown-item" routerLink="/list" [queryParams]="{category:'畫冊設定集'}">畫冊設定集 </button>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" (submit)="search()">
      <div class="input-group" ngbDropdown>
        <div class="input-group-btn">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            ngbDropdownToggle>
            {{currentSearchType.text}}
          </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" type="button" *ngFor="let searchType of searchTypes; let i = index" (click)="changeSearchType(i)">{{searchType.text}}</button>
          </div>
        </div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchName" [(ngModel)]="searchInput">
      </div>
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">搜尋</button>
    </form>
  </div>
</nav>
