<div class="modal-header">
  <h4 class="modal-title">購物車</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p *ngFor="let book of bookList | async">{{book.name}}</p>
  <button type="button" class="btn btn-secondary" (click)="initList()">initList</button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">繼續選購</button>
  <button type="button" class="btn btn-primary" (click)="checkout()">結帳</button>
</div>
